.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid black;
    justify-content: center;
}
header nav {
    width: 496px;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul li a{
    color: #828282;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration: unset;
}
header nav ul li a:hover{
    color: #070707;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration: unset;
}
.main h1 {
    color: #070707;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 905px 40px 276px;
    margin-bottom: 50px;
}
.wrap {
    width: 970px;
    height: 387px;
    display: flex;
    margin: auto;
}
.about h2 {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 50px;
}
.about p {
    text-align: center;
    margin-bottom: 30px;
}
.skills h2 {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}
.skills p {
    text-align: center;
    margin-bottom: 50px;
}
.items {
    width: 970px;
    height: 230px;
    gap: 97px;
    display: flex;
    margin: auto;
}
.portfolio h2 {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}
.portfolio {
    text-align: center;
}
.item{
    width: 970px;
    height: 540px;
    display: flex;
    margin-bottom: 40px;
    margin-top: 70px;;
}
.portfolio a {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
footer h2 {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 100px;
}
footer p {
    color: #070707;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
    max-width: 280px;
    width: 100%;
}
footer ul {
    display: flex;
    margin-bottom: 60px;
    gap: 50px;
}
footer span {
    color: #828282;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer button {
    border-radius: 22px;
    background: #070707;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 30px;
    width: 148px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
